.homepage main{
    margin-top: 70px;
}
.welcomeHome{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    border: 1px solid orangered;
    padding: 10px 0;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px 3px rgba(128, 128, 128, 0.697);
}
.container{
    width: 90vw;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.interContain{
    display: flex;
    width: 400px;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
    font-size: large;
    border: 1px solid orangered;
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: white;
    overflow: hidden;
}
.interContain a{
    text-decoration: none;
    color: white;
}
.interContain:hover{
    transform: translate(2px);
    box-shadow: 2px 2px 5px 3px rgba(128, 128, 128, 0.697);
}
.interContain button{
    width: 90px;
    padding: 5px 0;
    margin: auto;
    color: white;
    background-color: #000080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.interContain h2{
    background-color: orangered;
    color: white;
    padding: 5px;
}
.suggestions{
    text-align: center;
    background-color: white;
    width: 90vw;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 3px rgba(128, 128, 128, 0.697);
}
.suggestions h1{
    background-color: orangered;
    color: white;
    padding: 10px;
}
.popular{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 10px auto;
    justify-content: center;
}

.full-recipe{
    margin: auto;
    text-align: center;
}

.full-recipe button{
    padding: 5px 10px;
    margin: auto;
    color: white;
    background-color: #000080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}